{plugins,[ling_builder]}.

{deps,[
	{cowboy,".*",
		{git,"git://github.com/extend/cowboy.git","master"}},
	{erlydtl,".*",
			{git,"git://github.com/evanmiller/erlydtl.git","master"}},
	{ling_builder,".*",
			{git,"git://github.com/maximk/ling_builder.git","master"}}
]}.

{ling_builder_opts,[
	{build_host,"localhost:8080"},
	{username,"test"},
	{password,"test"},
	{import_lib,crypto},
	{import,"priv/*/*"}
]}.

%%EOF
