
{plugins,[ling_builder]}.

{deps,[
	{cowboy,".*",
		{git,"git://github.com/extend/cowboy.git","master"}},
	{erlydtl,".*",
			{git,"git://github.com/evanmiller/erlydtl.git","master"}},
	{ling_builder,".*",
			{git,"git://github.com/maximk/ling_builder.git","master"}}
]}.

{ling_builder_opts,[
	%{build_host,"192.168.0.3:8080"},
	{build_host,"localhost:8080"},
	{username,"mk"},
	{password,"2"},
	{import_lib,crypto},
	{import,"priv/*/*"}
]}.

%%EOF
